/* Basic styles */
body{
    background-color: #D5D5D5;
}
h1 {
    color: #9099A2; 
}

h2, h3, h4, h6{
    color: #6D7993; /* Accent */
}

a{
    color:inherit;
}

a:hover{
    color:#104bca44;
}


/* Homepage styles*/
.cover{
    height:300px;
    margin-top:25%;
}
.jumbotron{
    background-image: url("img/backwardshat.jpg");
    background-repeat: no-repeat; 
    background-size: cover;
    height:700px; 
}
h5 { color: darkmagenta;
    font-style: oblique;
}


table {
    border-width: thick;
}
